################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sets
/TensorFlowSharp.Service/.vs
/TensorFlowSharp.Service/packages
/TensorFlowSharp.Service/TensorFlowSharp.Service/bin
/TensorFlowSharp.Service/TensorFlowSharp.Service/obj
