
/Temp
/TensorFlowSharp.Service/.vs
/TensorFlowSharp.Service/Data
/TensorFlowSharp.Service/packages
/TensorFlowSharp.Service/TensorFlowSharp.Service/bin
/TensorFlowSharp.Service/TensorFlowSharp.Service/obj
